<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="utf-8">

        <title>توصيل تشاركى</title>

        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"/>

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'home/stylesheets/index.css' %}" media="screen"/>

        <meta name="description" content="منصة توصيل تشاركيه!" />
        <meta
            name="keywords"
            content="community-driven, delivery-platform, egen, ashwin hariharan, projects, open source, tutorial"
        >

	<style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 40px;
            
       		 }
    	</style>


    </head>


    <body data-username={{ username }}>

        <header class="flex-container">
            <div class="flex-item">
                <h1 id="logo">
                    community
                </h1>
            </div>

            <div class="flex-item">
                <h1> اهلا, {{ username }} </h1>
		
		
            </div>
        </header>

        <main class="flex-container">

            <section class="flex-item">
                <h1>
                    قوائم احتياجاتك
                </h1>
                <section>
                    <div class="tabset">
                        <input type="radio" name="tabs" aria-label="Nearby" id="tab1"  checked/>
                        <input type="radio" name="tabs" aria-label="My requests" id="tab2" />
                        <input type="radio" name="tabs" aria-label="my trips" id="tab3" />

                        <ul aria-hidden="true">
                            <li role="tab">
                                <label for="tab1">الطلبيات القريبه</label>
                            </li>
                            <li role="tab">
                                <label for="tab2">طلبياتك</label>
                            </li>
                            <li role="tab">
                                <label for="tab3">رحلات التوصيل</label>
                            </li>
                        </ul>

                        <div>
                            <section role="tabpanel" aria-labelledby="Nearby wishlists" class="wishlists">
                                <ol id="nearby-wishlists">
                                    <!-- Load wishlists -->
                                </ol>
                            </section>

                            <section role="tabpanel" aria-labelledby="My wishlists" class="wishlists">
                                <ol id="my-wishlists"><!-- Load wishlists --></ol>
                            </section>

                            <section role="tabpanel" aria-labelledby="My trips" class="wishlists">
                                <ol id="my-trips"><!-- Load wishlists --></ol>
                            </section>
                        </div>
                    </div>
                </section>

                <hr>

                <section aria-label="الطلبيات">

                    <input
                        id="wishlist-items"
                        placeholder="اختر متجرك المفضل ثم اكتب ماتريده واضف وسيلة اتصال خاصه بك"
                        aria-label="Select a store and add items"
                        required >
                    <button id="add-wishlist">
                        اضافة طلبيه
                    </button>
                </section>
                
            </section>

            <section class="flex-item">
                <h1>
                    <p>صديقي القارئ هذا المشروع قيد التطوير حاليا يمكنك ادخال "طرابلس-ليبيا" في مربع بحث الخرائط</P>
                </h1>
                <div id="map">
                    <!-- Load map here -->
                </div>
                
            </section>
        </main>

        <script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
        <script type="text/javascript" src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>

        {% load static %}

        <script type="module" src="{% static 'home/modules/index.js' %}"></script>

        <noscript>
            This application requires JavaScript to be enabled
        </noscript>

    </body>
<br>
	<footer id="footer">
		<p><a href="https://github.com/Muhammadelakder/CommunityApp" target="_blank">تعرف علي الكود المصدر</a></P>
		
		<p><a href="https://github.com/Muhammadelakder/grocerylist/raw/main/grocerylist.apk" target="_blank">جرب التطبيق علي الهاتف</a></P>
	</footer>
    
</html>
